<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972106369030-t2dlipb5sl091emvst44kijtembk29fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972106369030-t2dlipb5sl091emvst44kijtembk29fj</string>
	<key>API_KEY</key>
	<string>AIzaSyA0WcWNORIKAH4MmTVN-w1TPmdNK0x16mU</string>
	<key>GCM_SENDER_ID</key>
	<string>972106369030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iAmV2</string>
	<key>PROJECT_ID</key>
	<string>affirmation-c531b</string>
	<key>STORAGE_BUCKET</key>
	<string>affirmation-c531b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972106369030:ios:548fe000e89d4f83821b87</string>
</dict>
</plist>